body{
    background-color: #ECEEF1;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

header{
    text-align: right;
    padding: 10px 30px;
}

.header-font{
    font-weight: 400;
    color: #505050;
    font-size: 12px;
    line-height: 1.5;
}

.sign-in-button {
    color: white;
    background-color: #0077C5;
    font-weight: 1.125em;
    border-radius: 4px;
    border: 1px solid #4c4c4c;
    padding: 5px 25px;
}

.intuit-logo{
    margin: 20px auto;
}

.intuit-logo img {
    width: 125px;
    opacity: 0.4;
}

.other-logos img{
    height: 23px;
    width: 23px;
}

.other-logos{
    height: 35px;
}

.other-logos span{
    margin-right: 4px;
}

.other-logos a{
    text-decoration: none;
    color: #73747A;
    font-size: 18px;
    font-weight: 200;
    letter-spacing: .8px;
}

#form{
    margin: 0 auto;
    width: 380px;
    /* height: 694px; */
    background-color: white;
    vertical-align: center;
    border: 1px solid #c7c7c7;
    padding: 30px;
}

h2{
    font-size: 24px;
}

h3 {
    font-size: 14px;
}

.title-form h3{
    padding: 20px 0;
}

.title-form h3 a {
    font-size: 12px;
}

input {
    width: 100%;
}

.label {
    text-align: left !important;
}